* {
  box-sizing: border-box;
}
body {
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}
div.post {
  display: grid;
  grid-template-columns: 01fr;

  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}
div.post div.texts h2 {
  margin: 0;
  font-size: 1.5rem;
}
div.post div.texts a {
  text-decoration: none;
  color: #222;
}
div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author {
  color: #333;
}
div.post p.summary {
  margin: 10px 0px;
  line-height: 1.4rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0px auto;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;

  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}

form h1 {
  text-align: center;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 500px;
  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
}
div.post-page a.edit-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
}
